.library-loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .loading-title {
    font-size: 2em;
  }

  .loading-gif {
    width: 15em;
    height: 15em;
  }
}

.game-card-list {
  display: flex;
  flex-wrap: wrap;
  padding: 2em;
  width: 66%;
  margin: auto;
}
